# Ignore env files
.env
/.env

# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
venv/

# Node
node_modules/
# Frontend

# Logs
/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*

/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/*.local
/frontend/package-lock.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
/frontend/.idea
/frontend/.DS_Store
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?


# Backend
/backend/.env
__pycache__

# .gitignore
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
venv/
env/
.venv/
chroma_db_data/
*.log
.DS_Store
.vscode/
.idea/